<md-content layout-padding class="profile-info">
	<div layout-align="center center" class="profile-photo">
		<div class="image-overlay" ng-click="">
			<md-icon md-svg-icon="camera" class="s48"></md-icon>
			<p>
				Click here to change photo
			</p>
		</div>
		<img ng-src="{{user.img}}" alt="{{user.name}}">
	</div>
	<form name="statusForm">
		<md-input-container class="md-block">
			<label>Status</label>
			<input md-maxlength="30" name="status" ng-model="user.status">
			<div ng-messages="statusForm.status.$error">
				<div ng-message="md-maxlength">The status has to be less than 30 characters long.</div>
			</div>
		</md-input-container>
	</form>
</md-content>
