md-sidenav.profile-info {
    min-width: 100%;
}

.profile-photo {
    position: relative;
    width: 50%;
    margin: 1em auto;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo:hover .image-overlay {
    opacity: 0.8;
}

.profile-photo img {
    border-radius: 50%;
}

.image-overlay {
	cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    text-align: center;
    background-color: gray;
    opacity: 0;
}

.image-overlay p {
    font-size: 1em;
    color: white;
}
