<md-sidenav flex="100" class="md-sidenav-left profile-info width-100" md-component-id="profile-info" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleProfileInfo()" class="md-icon-button">
				<md-icon md-svg-icon="back" aria-label="Close Profile Info"></md-icon>
			</md-button>
			<h1>Profile</h1>
		</div>
	</md-toolbar>
	<md-content flex layout-padding class="profile-info">
		<div layout-align="center center" class="profile-photo">
			<div id="profile-image-overlay" class="image-overlay" ng-click="changeProfileImage()">
				<md-icon md-svg-icon="camera" class="s48"></md-icon>
				<p>
					Click here to change photo
				</p>
			</div>
			<div id="profile-progress-overlay" class="progress-overlay display-none" layout="column" layout-align="center center">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<img ng-src="{{me.img}}" alt="{{me.name}}">
			<input type="file" id="profile-upload" nv-file-select uploader="uploader" accept="image/*" class="display-none" />
		</div>
		<form name="statusForm">
			<md-input-container class="md-block">
				<label>Name</label>
				<input name="name" ng-model="me.name" disabled="disabled">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Email</label>
				<input name="email" ng-model="dummyEmail" disabled="disabled">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Status</label>
				<input md-maxlength="30" name="status" ng-model="dummyStatus" maxlength="30">
				<div ng-messages="statusForm.status.$error">
					<div ng-message="md-maxlength">The status has to be less than 30 characters long.</div>
				</div>
			</md-input-container>
		</form>
	</md-content>
</md-sidenav>
