<!DOCTYPE html>
<md-dialog aria-label="Change {{type}}" ng-cloak="ng-cloak" flex-xs="95" flex-gt-xs="60" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="30">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Change {{type}}</h2>
			<span flex="flex"></span>
			<md-button ng-click="cancel()" class="md-icon-button">
				<md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<form name="settingsForm" ng-submit="saveChanges(settingsForm, type)" novalidate>
		<md-content layout-padding>
			<div layout="column">
				<md-input-container flex>
					<label>Verify Password</label>
					<input name="currentPassword" type="password" ng-model="currentPassword" mongoose-error required autofocus/>
					<div ng-messages="settingsForm.currentPassword.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="mongoose" ng-show="submitted">{{errors.other}}</div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label>New {{type}}</label>
					<input name="{{type}}" type="{{type}}" ng-model="new" mongoose-error required/>
					<div ng-messages="settingsForm[type].$error">
						<div ng-message="required">This is required.</div>
						<div ng-if="value.type == 'email'" ng-message="email">Invalid email.</div>
						<div ng-message="mongoose">{{errors[type]}}</div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label>Confirmation</label>
					<input name="confirmation" type="{{type}}" ng-model="confirmation" mongoose-error required compare-to="new" />
					<div ng-messages="settingsForm.confirmation.$error">
						<div ng-message="required">This is required.</div>
						<div ng-if="type == 'email'" ng-message="email">Invalid email.</div>
						<div ng-message="compareTo">Confirmation doesn't match.</div>
					</div>
				</md-input-container>
			</div>
		</md-content>
		<md-actions layout="row">
			<span flex="flex"></span>
			<md-button ng-click="cancel()">Cancel</md-button>
			<md-button type="submit">Save</md-button>
		</md-actions>
	</form>
</md-dialog>
