<md-dialog aria-label="Change Password" ng-cloak="ng-cloak" style="width: 30%;">
	<form name="settingsForm" ng-submit="saveChanges(settingsForm, type)" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Change {{type}}</h2>
				<span flex="flex"></span>
				<md-button ng-click="cancel()" class="md-icon-button">
					<md-icon md-svg-src="assets/svg/close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content>
			<div layout layout-padding>
				<md-input-container flex>
					<label>Current {{type}}</label>
					<input name="current" type="{{type}}" ng-model="user.current" mongoose-error required/>
					<div ng-messages="settingsForm.current.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="mongoose" ng-show="submitted">{{errors.other}}</div>
					</div>
				</md-input-container>
			</div>
		</md-content>
		<md-content>
			<div layout layout-padding>
				<md-input-container flex>
					<label>New {{type}}</label>
					<input name="{{type}}" type="{{type}}" ng-model="user[type]" mongoose-error required/>
					<div ng-messages="settingsForm[type].$error">
						<div ng-message="required">This is required.</div>
						<div ng-if="value.type == 'email'" ng-message="email">Invalid email.</div>
						<div ng-message="mongoose" ng-show="submitted">{{errors.other}}</div>
					</div>
				</md-input-container>
			</div>
		</md-content>
		<md-content>
			<div layout layout-padding>
				<md-input-container flex>
					<label>Confirmation</label>
					<input name="confirmation" type="{{type}}" ng-model="user.confirmation" mongoose-error required compare-to="user[type]"/>
					<div ng-messages="settingsForm.confirmation.$error">
						<div ng-message="required">This is required.</div>
						<div ng-if="type == 'email'" ng-message="email">Invalid email.</div>
						<div ng-message="mongoose" ng-show="submitted">{{errors.other}}</div>
						<div ng-message="compareTo">Confirmation doesn't match.</div>
					</div>
				</md-input-container>
			</div>
		</md-content>
		<md-actions layout="row">
			<span flex="flex"></span>
			<md-button ng-click="cancel()">Cancel</md-button>
			<md-button type="submit">Save</md-button>
		</md-actions>
	</form>
</md-dialog>
