<!-- New contact dialog -->
<md-dialog aria-label="New Contact" ng-cloak="ng-cloak" flex-xs="95" flex-gt-xs="60" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="20">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>New contact</h2>
			<span flex="flex"></span>
			<md-button ng-click="cancel()" class="md-icon-button">
				<md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<form name="friendRequestForm" ng-submit="sendFriendRequest(friendRequestForm)" novalidate>
		<md-content layout-padding>
			<div layout="column">
				<md-input-container class="md-block">
					<label>Email</label>
					<input name="email" type="email" ng-model="newContactEmail" mongoose-error required autofocus/>
					<div ng-messages="friendRequestForm.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="mongoose" ng-show="submitted">{{errors.other}}</div>
					</div>
				</md-input-container>
			</div>
		</md-content>
		<md-actions layout="row">
			<span flex="flex"></span>
			<md-button ng-click="cancel()">Cancel</md-button>
			<md-button type="submit">Add</md-button>
		</md-actions>
	</form>
</md-dialog>
