<!-- Scribble dialog -->
<div ng-show="showDialog">
	<md-dialog aria-label="New Scribble" ng-cloak="ng-cloak" flex="100">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>New scribble</h2>
				<span flex="flex"></span>
				<md-button ng-click="cancel()" class="md-icon-button">
					<md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content id="scribble-container" style="cursor: crosshair;">
		</md-content>
		<md-content layout layout-align="center center">
			<ngjs-color-picker selected="selectedColor" options="customOptions" customColors="colors"></ngjs-color-picker>
		</md-content>
		<md-actions layout="row">
			<span flex="flex"></span>
			<md-button ng-click="cancel()">Cancel</md-button>
			<md-button ng-click="sendScribble()">Send</md-button>
		</md-actions>
	</md-dialog>
</div>
