<!-- New group dialog -->
<md-dialog aria-label="New Scribble" ng-cloak="ng-cloak" style="width: 30%;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>New scribble</h2>
			<span flex="flex"></span>
			<md-button ng-click="cancel()" class="md-icon-button">
				<md-icon md-svg-src="assets/svg/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
	</md-content>
	<md-actions layout="row">
		<span flex="flex"></span>
		<md-button ng-click="cancel()">Cancel</md-button>
		<md-button ng-click="">Send</md-button>
	</md-actions>
</md-dialog>
