<md-dialog aria-label="Sign Up" ng-cloak="ng-cloak" flex-xs="95" flex-gt-xs="70" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="20">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Login</h2>
			<span flex="flex"></span>
			<md-button ng-click="cancel()" class="md-icon-button">
				<md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<form name="loginForm" ng-submit="login(loginForm)" novalidate>
		<md-content layout-padding>
			<div layout="column">
				<span ng-repeat="(key, value) in formFields" auto-focus="{{$index}}">
					<md-input-container class="md-block">
						<label>{{value.label}}</label>
						<input name="{{key}}" type="{{value.type}}" ng-model="user[key]" ng-minlength="{{value.minLength}}" ng-maxlength="{{value.maxLength}}" mongoose-error required/>
						<div ng-messages="loginForm[key].$error">
							<div ng-message="required">This is required.</div>
							<div ng-if="value.minLength" ng-message="minlength">Insufficient characters.</div>
							<div ng-if="value.maxLength" ng-message="maxlength">Too many characters.</div>
							<div ng-if="value.type == 'email'" ng-message="email">Invalid email.</div>
							<div ng-message="mongoose" ng-show="submitted">{{errors.other}}</div>
						</div>
					</md-input-container>
				</span>
			</div>
		</md-content>
		<md-content>
			<div layout="column">
				<div>
					<md-container flex>
						<md-button class="md-raised md-info">
							<md-icon md-svg-src="facebook" aria-label="Close dialog"></md-icon>
						</md-button>
						<md-button class="md-raised md-info">
							<md-icon md-svg-src="twitter" aria-label="Close dialog"></md-icon>
						</md-button>
					</md-container>
				</div>
			</div>
		</md-content>
		<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
		<md-actions layout="row">
			<md-button ng-click="showSignup($event)">Register</md-button>
			<span flex="flex"></span>
			<md-button ng-click="cancel()">Cancel</md-button>
			<md-button type="submit">Login</md-button>
		</md-actions>
	</form>
</md-dialog>
