<md-content flex class="contact-info" layout="column" layout-padding>
	<div class="no-padding">
		<!-- containing element to fall to when position relative -->
		<div layout-align="center center" class="chat-photo">
			<div class="image-overlay" ng-click="" ng-show="activeChat.group">
				<md-icon md-svg-icon="camera" class="s48"></md-icon>
				<p>
					Click here to change photo
				</p>
			</div>
			<img ng-src="{{ activeChat.user.img || activeChat.img }}" alt="{{ activeChat.user.img || activeChat.img }}">
		</div>
	</div>
	<div ng-if="!activeChat.group">
		<h4>Status</h4>
		<h5>{{ activeChat.user.status }}</h5>
		<h4>Email</h4>
		<h5>{{ activeChat.user.email }}</h5>
	</div>
	<!-- shown if active chat is a group-->
	<form name="groupNameForm" class="group-name no-padding" ng-if="activeChat.group">
		<md-input-container class="md-block">
			<label>Name</label>
			<input md-maxlength="20" name="status" ng-model="activeChat.name" required>
			<div ng-messages="groupNameForm.status.$error">
				<div ng-message="md-maxlength">The group's name has to be less than 20 characters long.</div>
				<div ng-message="required">The group's name can't be empty.</div>
			</div>
		</md-input-container>
	</form>
	<md-list ng-if="activeChat.group">
		<md-subheader>Members
			<md-icon md-svg-icon="person_add" aria-label="Add Participant" class="md-primary gray clickable" ng-click="showContactList($event)" hide-gt-xs></md-icon>
		</md-subheader>

		<md-list-item ng-click="showContactList($event)" class="no-padding" hide-xs>
			<md-icon md-svg-icon="person_add" aria-label="Add Participant" class="md-primary gray"></md-icon>
			<p>
				Add participant
			</p>
		</md-list-item>
	</md-list>
	<md-divider class="no-padding" ng-if="activeChat.group"></md-divider>
	<md-content flex ng-if="activeChat.group">
		<md-list ng-cloak>
			<md-list-item ng-repeat="member in activeChat.members" class="md-2-line no-padding">
				<img alt="{{ member.name }}" ng-src="{{member.img || 'assets/images/profile_gray.png'}}" class="md-avatar object-fit-cover" />
				<div class="md-list-item-text">
					<h3>{{member.name}}</h3>
					<p>
						{{member.email}}
					</p>
				</div>
				<md-button class="md-icon-button md-exclude">
					<md-icon md-svg-icon="add" ng-click="" aria-label="Add" class="md-primary gray"></md-icon>
				</md-button>
				<md-button class="md-icon-button md-exclude">
					<md-icon md-svg-icon="close" ng-click="" aria-label="Remove" class="md-primary red"></md-icon>
				</md-button>
			</md-list-item>
		</md-list>
	</md-content>
	<md-button ng-click="deleteChat('contact-info')" class="md-raised md-warn" aria-label="Delete Chat" hide-xs>
		<span ng-if="activeChat.group">EXIT GROUP</span>
		<span ng-if="!activeChat.group">DELETE CHAT</span>
	</md-button>
</md-content>
