.conv-photo {
    position: relative;
    margin: 1em auto;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
}

.conv-photo:hover .image-overlay {
    opacity: 0.8;
}

.conv-photo img {
    min-width: 160px;
    min-height: 160px;
    object-fit: cover;
}

.image-overlay {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    text-align: center;
    background-color: gray;
    opacity: 0;
}

.image-overlay p {
    font-size: 1em;
    color: white;
}

.contact-info h4 {
    color: darkgray;
}

.contact-info h4,
.contact-info h5 {
    font-weight: normal;
}

.contact-info md-list, .contact-info md-dividier{
    padding: 0;
}

.contact-info .md-subheader .md-subheader-inner {
	padding: 8px;
	font-weight: normal;
}

.no-padding {
	padding: 0 !important;
}

.progress-overlay {
    width: 100%;
    height: 100%;
    background: lightgray;
    border-radius: 50%;
}

.display-none {
    display: none;
}
