<md-content flex layout="column" id="chat-box">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Show Sidenav" ng-click="toggleLeftToolbar()" hide-gt-sm>
				<md-icon md-svg-icon="more_horiz"></md-icon>
			</md-button>
			<div class="round-img-container">
				<img ng-src="{{activeChat.user.img || activeChat.img || 'assets/images/profile_white.png'}}" alt="{{activeChat.user.name}}">
			</div>
			<md-list ng-click="toggleContactInfo()" class="no-outline clickable" style="width: 60%;">
				<md-list-item class="md-3-line" style="text-overflow: ellipsis;">
					<div class="md-list-item-text">
						<h3 style="color:white;">{{activeChat.user.name || activeChat.name}}</h3>
						<h4 style="color:white;">
							<span ng-if="!activeChat.group">
								<span class="online" ng-show="activeChat.user.online">online</span>
								<span class="offline" ng-show="!activeChat.user.online">offline</span>
							</span>
							<span ng-repeat="member in activeChat.members track by $index">{{member.name}}{{$last ? '' : ', '}}
							</span>
						</h4>
					</div>
				</md-list-item>
			</md-list>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Send Scribble" ng-click="showScribble($event)" hide-xs>
				<md-icon md-svg-icon="scribble"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Send Attachment" hide-xs>
				<md-icon md-svg-icon="attachment"></md-icon>
			</md-button>
			<md-menu md-position-mode="target target">
				<md-button class="md-icon-button" aria-label="Options" ng-click="$mdOpenMenu()">
					<md-icon md-svg-icon="more_vert"></md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item hide-gt-xs>
						<md-button ng-click="showScribble($event)" aria-label="Send Scribble">
							Send scribble
						</md-button>
					</md-menu-item>
					<md-menu-item hide-gt-xs>
						<md-button ng-click="" aria-label="Send Attachment">
							Send attachment
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="toggleContactInfo()" aria-label="Information">
							<span ng-if="activeChat.group">Group info</span>
							<span ng-if="!activeChat.group">Contact info</span>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="deleteChat()" aria-label="Delete">
							<span ng-if="activeChat.group">Exit group</span>
							<span ng-if="!activeChat.group">Delete chat</span>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>
	<md-sidenav flex="100" class="md-sidenav-right width-45" md-component-id="contact-info" layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button ng-click="toggleContactInfo()" class="md-icon-button">
					<md-icon md-svg-src="assets/svg/close.svg" aria-label="Close Contact Info"></md-icon>
				</md-button>
				<h1 ng-if="!activeChat.group" class="md-toolbar-tools">Contact info</h1>
				<h1 ng-if="activeChat.group" class="md-toolbar-tools">Group info</h1>
			</div>
		</md-toolbar>
		<chat-info></chat-info>
	</md-sidenav>
	<md-content flex id="conversation-box">
		<message class="message-wrapper" ng-repeat="message in conversation.messages" sender="{{message.sentBy}}" receiver="{{me._id}}">
			<div class="text-wrapper">{{message.text}}</div>
		</message>
		<!-- <message class="message-wrapper them">
			<div class="circle-wrapper">
				<img class="no-outline" alt="{{activeChat.user.name}}" ng-src="{{activeChat.user.img || 'assets/images/profile_white.png'}}" />
			</div>
			<div class="text-wrapper">Hello!</div>
		</message>
		<message class="message-wrapper them">
			<div class="circle-wrapper">
			</div>
			<div class="text-wrapper">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
				Mauris placerat eleifend leo</div>
		</message>
		<message class="message-wrapper me">
			<div class="circle-wrapper">
			</div>
			<div class="text-wrapper">Hello!</div>
		</message>
		<message class="message-wrapper me">
			<div class="circle-wrapper">
			</div>
			<div class="text-wrapper">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
				Mauris placerat eleifend leo</div>
		</message>
		<message class="message-wrapper them">
			<div class="circle-wrapper">
			</div>
			<div class="text-wrapper">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
				Mauris placerat eleifend leo</div>
		</message>
		<message class="message-wrapper them">
			<div class="circle-wrapper">
			</div>
			<div class="text-wrapper">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
				Mauris placerat eleifend leo</div>
		</message>
		<message class="message-wrapper them">
			<div class="circle-wrapper">
			</div>
			<div class="text-wrapper">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
				Mauris placerat eleifend leo</div>
		</message> -->
	</md-content>
	<md-toolbar id="message-toolbar">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Send Attachment" ng-click="showEmojis($event)">
				<md-icon md-svg-icon="insert_emoticon"></md-icon>
			</md-button>
			<textarea id="message-box" type="text" placeholder="Type a message" ng-model="message" ng-keypress="keyPressed(activeChat._id, $event)"></textarea>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Send" ng-click="sendMessage(activeChat._id)" ng-disabled="!message">
				<md-icon md-svg-icon="send"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
</md-content>
