<md-content flex layout="column" id="chat-box">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Show Sidenav" ng-click="toggleSidenav('left-toolbar')" hide-gt-sm>
				<md-icon md-svg-icon="more_horiz"></md-icon>
			</md-button>
			<div class="round-img-container">
				<img ng-src="{{ activeConv.img }}" alt="{{activeConv.name}}">
			</div>
			<md-list ng-click="toggleSidenav('contact-info')" class="no-outline clickable" style="width: 60%;">
				<md-list-item class="md-3-line" style="text-overflow: ellipsis;">
					<div class="md-list-item-text">
						<h3 style="color:white;">{{ activeConv.name}}</h3>
						<h4 style="color:white;">
							<span ng-if="!activeConv.members">
								<span class="online" ng-show="activeConv.online">online</span>
								<span class="offline" ng-show="!activeConv.online">offline</span>
							</span>
							<span ng-repeat="member in activeConv.members track by $index">{{member.name}}{{$last ? '' : ', '}}
							</span>
						</h4>
					</div>
				</md-list-item>
			</md-list>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Send Scribble" ng-click="showScribbleDialog($event)" hide-xs>
				<md-icon md-svg-icon="scribble"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Send Attachment" hide-xs>
				<md-icon md-svg-icon="attachment"></md-icon>
			</md-button>
			<md-menu md-position-mode="target target">
				<md-button class="md-icon-button" aria-label="Options" ng-click="$mdOpenMenu()">
					<md-icon md-svg-icon="more_vert"></md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item hide-gt-xs>
						<md-button ng-click="showScribbleDialog($event)" aria-label="Send Scribble">
							Send scribble
						</md-button>
					</md-menu-item>
					<md-menu-item hide-gt-xs>
						<md-button ng-click="" aria-label="Send Attachment">
							Send attachment
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="toggleSidenav('contact-info')" aria-label="Information">
							<span ng-if="activeConv.members">Group info</span>
							<span ng-if="!activeConv.members">Contact info</span>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="deleteConv()" aria-label="Delete">
							<span ng-if="activeConv.members">Exit group</span>
							<span ng-if="!activeConv.members">Delete conversation</span>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>
	<md-sidenav flex="100" class="md-sidenav-right width-45" md-component-id="contact-info" layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button ng-click="toggleSidenav('contact-info')" class="md-icon-button">
					<md-icon md-svg-src="assets/svg/close.svg" aria-label="Close Contact Info"></md-icon>
				</md-button>
				<h1 ng-if="!activeConv.members" class="md-toolbar-tools">Contact info</h1>
				<h1 ng-if="activeConv.members" class="md-toolbar-tools">Group info</h1>
			</div>
		</md-toolbar>
		<chat-info src="activeConv" delete="deleteConv('contact-info')" kick="kick(id)"></chat-info>
	</md-sidenav>
	<md-content flex id="conversation-box" scroll-to-bottom="conversation.messages">
		<message class="message-wrapper" ng-repeat="message in conversation.messages" sender="{{message.sentBy}}" receiver="{{me._id}}" text="{{message.text}}" scribble="{{message.scribble}}" members="activeConv.members"></message>
	</md-content>
	<md-toolbar id="message-toolbar">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Send Attachment" ng-click="showEmojis($event)">
				<md-icon md-svg-icon="insert_emoticon"></md-icon>
			</md-button>
			<textarea id="message-box" type="text" placeholder="Type a message" ng-model="message" ng-keypress="keyPressed(activeConv._id, $event)"></textarea>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Send" ng-click="sendMessage(activeConv._id)" ng-disabled="!message">
				<md-icon md-svg-icon="send"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
</md-content>
