<div id="landing">
  <div layout="row">
    <div flex="grow" class="landing-title">
      <h1>Chat</h1>
    </div>
  </div>
  <div layout="row" layout-md="column" layout-sm="column" layout-align="center center">
    <div flex="20" flex-offset="20">
      <md-button aria-label="Plus One" style="height: 4em; width: 4em;" ng-click="showSignup($event)" class="md-raised md-warn">
        <md-icon md-svg-icon="plus_one" style="height: 100%; width: 100%;"></md-icon>
      </md-button>
    </div>
    <div flex="20">
      <md-button aria-label="Plus One" style="height: 4em; width: 4em;" ng-click="showLogin($event)" class="md-raised md-warn">
        <md-icon md-svg-icon="fingerprint" style="height: 100%; width: 100%;"></md-icon>
      </md-button>
    </div>
    <div flex="20">
      <md-button aria-label="Plus One" style="height: 4em; width: 4em;" href="/about" class="md-raised md-warn">
        <md-icon md-svg-icon="info" style="height: 100%; width: 100%;"></md-icon>
      </md-button>
    </div>
    <div flex="20"></div>
  </div>
</div>
