<div id="dashboard" flex="80" ng-controller="DashboardCtrl" layout>
	<div class="left-toolbar" flex="30" layout="column" ng-cloak>
		<md-content flex layout="column">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<img class="round-img" alt="{{user.name}}" ng-click="toggleProfileInfo()" ng-src="{{user.img || 'assets/images/profile_white.png'}}" style="outline: none; cursor: pointer;"/>
					<span flex></span>
					<md-button class="md-icon-button" aria-label="Contacts" ng-click="toggleContactList()">
						<md-icon md-svg-icon="contacts"></md-icon>
					</md-button>
					<md-menu md-position-mode="target target">
						<md-button class="md-icon-button" aria-label="Options" ng-click="$mdOpenMenu()">
							<md-icon md-svg-icon="more_vert"></md-icon>
						</md-button>
						<md-menu-content width="3">
							<md-menu-item>
								<md-button ng-click="">
									New group
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="showSettings('password', $event)">
									Change password
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="showSettings('email', $event)">
									Change email
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="logout()">
									Logout
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</md-toolbar>
			<search-box></search-box>
			<md-divider></md-divider>
			<chat-list></chat-list>
			<profile></profile>
			<contact-list></contact-list>
		</md-content>
	</div>
	<div class="right-toolbar" flex="70" layout="column" ng-cloak>
		<chat-window></chat-window>
	</div>
</div>
