<div id="dashboard" flex="80" ng-controller="DashboardCtrl" layout="column" ng-cloak>
	<div layout="row" layout-wrap>
		<div class="left-toolbar" flex="30">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-card-avatar>
						<img class="md-user-avatar" alt="" src="assets/svg/face.svg" />
					</md-card-avatar>
					<span flex></span>
					<md-button class="md-icon-button" aria-label="Contacts">
						<md-icon md-svg-icon="assets/svg/contacts.svg"></md-icon>
					</md-button>
					<md-menu md-position-mode="target target">
						<md-button class="md-icon-button" aria-label="Options" ng-click="$mdOpenMenu()">
							<md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
						</md-button>
						<md-menu-content width="3">
							<md-menu-item>
								<md-button ng-click="">
									New group
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="logout()">
									Logout
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</md-toolbar>
			<md-content flex layout-padding>
				<md-icon md-svg-src="assets/svg/search_black.svg" class="gray"></md-icon>
				<input type="text" placeholder="Search for chat" style="padding-top: 0.3em; border: 0px; width: 80%; outline: none;">
			</md-content>
			<md-divider></md-divider>
			<md-list id="chat-list" ng-cloak>
				<md-list-item ng-repeat="chat in chats" ng-click="goTochat(chat.name, $event)">
					<img alt="{{ chat.name }}" ng-src="{{ chat.img }}" class="md-avatar" />
					<p>{{ chat.name }}</p>
					<md-icon md-svg-icon="assets/svg/chat_black.svg" ng-click="" aria-label="Open Chat" class="md-secondary md-hue-3 gray"></md-icon>
				</md-list-item>
			</md-list>
		</div>
		<div class="right-toolbar" flex="70">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<span flex></span>
					<md-button class="md-icon-button" aria-label="Send Attachment">
						<md-icon md-svg-icon="assets/svg/attachment.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Group options">
						<md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
		</div>
	</div>
</div>
