//-div(ng-include='"components/navbar/navbar.html"')
div#landing
	div(layout="row")
		div.landing-title(flex="grow")
			h1 Chat
	div(layout="row" layout-md="column" layout-sm="column" layout-align="center center")
		div(flex="20")
		div(flex="20")
			i.material-icons border_color
		div(flex="20")
		div(flex="20")
		div(flex="20")
